<footer class="footer__default">
  <div class="grid">
    <div class="footer__default_right">
      <a href="/" class="footer__default_logo">
        Dean DePaolo
      </a>
      <p class="footer__default_copy">
        <span>Made with <a href="/ghost">&hearts;</a></span><br>
        <span>deandepaolo.com &copy; 2017</span>
      </p>
    </div>
  </div>
</footer>
